
 

.layoutbutton {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.a1 {  background-color: antiquewhite } 
.a2 {  background-color: cornflowerblue } 
.a3 {  background-color: darkgreen}
.a4 {  background-color: limegreen } 
.a5 {  background-color:goldenrod } 
.a6 {  background-color:hotpink } 
.a7 {  background-color:aqua } 
.a8 {  background-color:brown } 
.a9 {  background-color:coral } 