
table  {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    height: 40px;
    width: 40px;
  }
input {
    border: 0px;
    width: 5ch;
    text-align: right
  }
.c1 {
    border-left: 0px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top: 0px;
}
.c2 {
    border-left: 0px;
    border-right: 2px solid black;
    border-bottom: 1px solid grey;
    border-top: 0px;
}
.c3 {
    border-left: 0px;
    border-right: 1px solid grey;
    border-bottom: 2px solid black;
    border-top: 0px;
}
.c4 {
    border-left: 0px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 0px;
}
.ng-dirty {
    font-weight: bold;
    color:navy;
}
.ng-pristine {
    color: darkgrey;
}