
<form [formGroup]="sudokuForm" (ngSubmit)="solveSudoku()">
  <div formArrayName="sudokucells">
    <table>
      <tr *ngFor="let row of [1,2,3,4,5,6,7,8,9]; let ir = index">
        <td *ngFor="let cell of [1,2,3,4,5,6,7,8,9]; let ic = index" class={{cellclass[(9*ir)+ic]}}>
            <input [formControlName]="(9*ir)+ic" type="number" min="1" max="9">
        </td>
      </tr>
    </table>
  </div>
  <br>
  <button type="submit" [disabled]="!sudokuForm.valid">Sudoku lösen</button>
</form>
<button (click)="resetSudoku()">reset</button>
<div *ngIf="sudoku.solved">
  <p>gelöst in {{ sudoku.durationSolvedInMillis }} ms</p>
</div>